body {
    padding: 0rem;
    margin: 0rem;
    background-color: #f4f1de;
}

header {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem;
    color: #3d305b;
}

.subtitle {
    margin-left: 5vw;
}

.todoadd_btn {
    margin: 0vh 5vw;
    width: 90vw;
    height: 5vh;
    font-size: 1.25rem;
    background-color: #81b29a;
    border-radius: 0.5rem;
}

#todo_content {
    margin: 3vh 5vw;
    display: flex;
}

.todo {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 10rem;
    margin: 1rem;
    padding: 1rem;
    outline: 2px solid black;
    border-radius: 0.5rem;
}

.Incomplete {
    background-color: #f2cc8f;
}

.Complete {
    background-color: rgb(69, 175, 69);
}

.completedTodoHeader {
    text-align: center;
    margin: 0rem;
    padding-bottom: 0.5rem;
}

.todo_title {
    margin: 0;
    padding-bottom: 0.5rem;
    text-align: center;
}

.form_title {
    margin: 0;
    font-size: 2rem;
}

.todo_btn {
    width: 49%;
    border-radius: 0.5rem;
}

.edit_btn {
    background-color: #e07a5f;
}

.done_btn {
    background-color: #7fb069;
}

.undone_btn {
    background-color: rgb(233, 42, 42);
}

.close_btn {
    background-color: rgb(231, 25, 25);
}

.confirm_btn {
    background-color: rgb(11, 224, 11);
}

.add_btn {
    width: 95%;
    background-color: rgb(11, 224, 11);
}

.edit_form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #d4c1ec;
    outline: 2px solid black;
    min-width: 30vw;
}

.description__area {
    resize: none;
}

.add_form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #d4c1ec;
    outline: 2px solid black;
    min-width: 30vw;
}

.form_header {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 1rem;
}

.exitform_btn {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    background-color: #d4c1ec;
    border: 0;
    font-size: 1.6rem;
    color: red;
}
